.background {
  background-color: rgba(234,235,238,1);
  margin: 0px;
}

.header {
  background-color: rgba(33,132,122,1);
  width: 100%;
  height: 35px;
}

.header_word {
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: inline-block;
  margin-top: 2px;
  margin-left: 20px;
  padding:5px 8px 5px 8px;
  text-align:center;
  border-radius:3px;
}

.time_table {
  display:inline-block;
  margin-left:10px;
  margin-top:5px;
}

.search {
  display:inline-block;
  margin-left:180px;
}

.search {
  display:inline-block;
  margin-left:180px;
}

.button {
  width:50px;
  height:25px;
  border-radius:3px;
  border:1px solid rgba(222,222,222,1);
  background-color:rgba(185,30,83,1);
  color:white;
}
.input_text {
  width:300px;
  height:25px;
  border-radius:3px;
  border:1px solid rgba(222,222,222,1);;
}

.search_title {
  display:inline-block;
}

.title {
  display:inline-block;
  font-size:20px;
  background-color:rgba(78,78,78,1); 
  color:white; 
  padding:10px 20px;
  float:left;
  margin-left:200px;
}

.title_content {
  display:inline-block;
  background-color:rgba(48,115,51,1);
  color:white;
  font-size:20px;
  padding:10px 20px;
  float:left;
  width:900px;
}

.content_table {
  display:inline-block;
  width:1010px;
  background-color:rgba(219,232,219,1);
  font-size:20px;
  margin-left:200px;
  padding:5px 5px;
}

.message_table {
  margin-left:200px;
  margin-top:10px;
}

.input_message {
  display:inline-block;
  height:35px;
  width:960px;
  font-size:20px;
  float:left;
  border: 1px solid rgba(222,222,222,1);
  border-radius:3px;
}

.button_message {
  display:inline-block;
  height:35px;
  width:60px;
  font-size:14px;
  color:white;
  float:left;
  background-color:rgba(185,30,83,1);
  border: 1px solid rgba(222,222,222,1);
  border-radius:3px;
}

.message_display {
  background-color:rgba(50,50,50,1);
  color:white;
  height:35px;
  width:1010px;
  margin-left:200px;
  font-size:20px;
  line-height:;
  padding:5px;
}

.message1, .message2, .message3 {
  display:inline-block;

}

.message3 {
  float:right;  
}

.edit {
  text-decoration: none;
  text-align:center;
  float:right;
  border: 1px solid rgba(220,220,220,1);
  border-radius: 2px;
  width:50px;
  padding:3px;
  color:red;
  background:rgba(220,220,220,1);
}